*{
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    background-color: #101D42;
}

h1{
    text-align: center;
    margin-top: 30px;
    color: #fff;
    text-transform: uppercase;
    font-size: 3rem;
}
 h3{
    text-align: center;
    margin-top: 30px;
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
}

.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

label{
    font-size:2.5rem;
    margin:20px;
    text-align: center;
    color: #fff;
}

input,button{
    height:50px;
    min-width: 10% ;
    text-align: center;
    font-size:1.25rem;
    font-weight: bold;
    border-radius: 50px;
    border-style: none;
    padding: 0 1rem;
    outline: none;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 60px;
}



.graphic{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.graphic img{
    height: 200px;
    width: 200px;
    border-radius: 25px;
}

.foot{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 2rem;
}

.foot p{
    text-align: center;
    font-size: 25px;
    color: white;
}

.foot a {
    text-decoration: none;
    color: white;
}

.mssg-contain{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info{
    width: 30%;
    text-align: center;
    margin:1.5rem;
    background-color:white;
    padding: 0.5rem;
    border-radius:25px;
}

.info p{
    font-size: 1.5em;
    font-weight: bold;
}

.info span{
cursor: pointer;
}